
.about-info {
  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
  }
  p {
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    padding: 15px 0 15px 0;
  }
}
.about-text {
  p:first-of-type {
    color: #727272;
    font-size: 15px;
    font-weight: 300;
  }
}
.progress-box {
  border: 1px solid #ececec;
  background-color: #ffffff;
  width: 100%;
  height: 35px !important;
  margin-bottom: 10px;
  .percent-design {
    width: 89%;
    background-color: #e2e2e2;
    height: 100%;
  }
  .percent-developer {
    width: 97%;
    background-color: #e2e2e2;
    height: 100%;
  }
  .percent-plugins {
    width: 85%;
    background-color: #e2e2e2;
    height: 100%;
  }
  .percent-front {
    width: 75%;
    background-color: #e2e2e2;
    height: 100%;
  }
}
.progress-testimo {
  width: 100%;
  background-color: #1ab5b3;
  display: flex;
  flex-wrap: nowrap;
  p {
    height: 80px;
    color: #ffffff;
    font-size: 15px;
    font-style: italic;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}
.img-progress {
  margin-top: 30px;
}
.progress-text {
    border: 1px solid #ececec;
    text-align: center;
  p {
    color: #a3a3a3;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
  }
}
.project-features {
  margin-top: 30px;
  li {
    color: #848484;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
  }
}