.contact {
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-info {
  margin: 20px;
  padding: 20px;
  width: 100%;
  background-color: white;
  h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
  }
  p {
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}