.logo {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    font-size: 46px;
  }
}

.menu {
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    li {
      background-image: url("../img/bg.png");
      width: 240px;
      height: 62px;
      a {
        display: flex;
        justify-content: end;
      }
    }
  }
}