.work-main {
  background-image: url("../img/bg-work.png");
  .work-col1 {
    display: flex;
    flex-wrap: wrap;
    img {
      padding: 10px 0 10px 0;
    }
    .work-info {
      h2 {
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
        text-align: left;
      }
      p {
        color: #a3a3a3;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
    }
    .work-projects {
      h2 {
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
      }
    }
  }
  .work-col2 {
    img {
      padding: 10px 0 10px 0;
    }
  }
}
.project-info {
  i {
    color: #1ab5b3;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    margin-top: 10px;
  }
  .person {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
  }
  .heart {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
  }
  .gift {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
  }
  .clip {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
  }
}
.project-gallery {
  h2 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
  }
}
.project-features {
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
  }
  p {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    i {
      color: #848484;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}
.work-img {
  width: 100%;
  max-height: 520px;
  img {
    width: 100%;
  }
}
.about-img {
  width: 100%;
  max-height: 302px;
  img {
    width: 100%;
  }
}