@import "_nav.scss";
@import "_work.scss";
@import "_about.scss";
@import "_contact.scss";

.main {
  img {
    width: 100%;
  }
}

body {
  font-family: 'Roboto',sans-serif !important;
  box-sizing: border-box;
  overflow-x: hidden;
}